<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
</head>
<body>
    <h1>Madlibs</h1>
    <!-- submit form to /story -->
    <form action="/story">
        <!-- loop over prompts and create inputs for each -->
        {% for prompt in prompts %}
        <label for="{{prompt}}">{{prompt}}</label>
        <input type="text" placeholder="enter {{prompt}}" name="{{prompt}}"> <br>
        {% endfor %}
        <button>Submit!</button>
    </form>
</body>
</html>